/* style.css */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    width: 90%;
    height: 80%;
}



#navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5px;
}

button {
    padding: 60px 10px;
    margin: 10px 0;
    font-size: small;
    cursor: pointer;
}

/* Add to your existing style.css */
/* Adjustments to existing styles */
#text-box {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    border-right: 2px solid #000;
    font-size: 1em; /* Default font size */
}

@media (max-width: 768px) {
    #container {
        flex-direction: column;
        height: auto;
    }
    #text-box {
        width: 100%;
        height: auto; /* Change this to auto to use as much height as needed */
        border-right: none;
        border-bottom: 2px solid #000;
        font-size: 1.25em; /* Increase font size on smaller screens */
    }
    #navigation {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }
    button {
        font-size: medium; /* Increase button font size for better usability on mobile */
    }
}
